{% extends 'matchapp/base.html' %}

{% block customcss %}
{% endblock customcss %}

{% load static %}

{% block header %}
<main>
        <!-- メインビジュアル -->
        <div class="py-2">
          <div class="container">
            <!-- カルーセル外枠 -->
            <div id="main_visual" class="carousel slide" data-ride="carousel">
              <!-- インジケーター -->
              <ol class="carousel-indicators">
                <li data-target="#main_visual" data-slide-to="0" class="active"></li>
                <li data-target="#main_visual" data-slide-to="1"></li>
                <li data-target="#main_visual" data-slide-to="2"></li>
              </ol>
              <!-- / インジケーター -->
              <!-- カルーセル内枠 -->
              <div class="carousel-inner">
                <!-- スライド01 -->
                <div class="carousel-item active">
                  <img class="img-fluid" src="{% static 'header.png' %}" alt="地域密着型テニスマッチングサービス">
                  <div class="carousel-caption d-none d-md-block carousel-background">
                    <h2 class="carousel-color">～「テニスリンク」とは？～</h2>
                    <p class="carousel-color">東三河のテニスプレイヤー限定のプレイヤー同士をつなげるマッチングサービスです</p>
                  </div>
                </div>
                <!-- / スライド01 -->
                <!-- スライド02 -->
                <div class="carousel-item">
                  <img class="img-fluid" src="{% static 'header3.png' %}" alt="コンセプト">
                  <div class="carousel-caption d-none d-md-block carousel-background">
                    <h2 class="carousel-color">～コンセプト1/2～</h2>
                    <p class="carousel-color">東三河に特化したテニスプレイヤーの仲間・練習相手探し</p>
                  </div>
                </div>
                <!-- / スライド02 -->
                <!-- スライド03 -->
                <div class="carousel-item">
                  <img class="img-fluid" src="{% static 'header2.png' %}" alt="コンセプト">
                  <div class="carousel-caption d-none d-md-block carousel-background">
                    <h2 class="carousel-color">～コンセプト2/2～</h2>
                    <p class="carousel-color">東三河テニスの活性化</p>
                  </div>
                </div>
                <!-- / スライド03 -->
              </div>
              <!-- / カルーセル内枠 -->
              <!-- コントローラー -->
              <a class="carousel-control-prev" href="#main_visual" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">前に戻る</span>
              </a>
              <a class="carousel-control-next" href="#main_visual" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">次に進む</span>
              </a>
              <!-- / コントローラー -->
            </div>
            <!-- / カルーセル外枠 -->
          </div>
        </div>
        <!-- / メインビジュアル --> 
</main>
{% endblock header %}

{% block content %}
<div class="container py-4">  
    <div class="row">
        <!-- / 左側 --> 
        <div class='col-md-6 offset-md-1'>
            <div class="alert alert-primary" role="alert">
                募集一覧
            </div>
                {% for item in object_list %}
                <div class="card mx-5 my-3">
                    <h5 class="card-header">タイトル：{{item.title}}</h5>
		    <p class="card-text mx-4 mt-2">日時：{{item.date}}{{item.time}}</p>
		    <p class="card-text mx-4">場所：{{item.place}}</p>
		    <p class="card-text mx-4">内容：{{item.content}}</p>
		    <p class="card-text mx-4">投稿者：{{item.author}}</p>
                    <a href="{% url 'detail' item.pk %}" class="btn btn-primary mx-5 my-3">詳細</a>
                </div>
                {% endfor %}
            <a class="btn btn-success" href="{% url 'list' %}" role="button">すべて見る</a>
            <a class="btn btn-info" href="{% url 'create' %}" role="button">募集する！</a>
        </div>
        <!-- / 左側 -->
        <!-- / 右側 -->
        <div class="col-md-3 offset-md-1">
            <div style="background-color: cadetblue; text-align:center; margin: 20px 10px;">
                <h5>＜ログイン＞</h5>
                <a href="{% url 'register:login' %}"><img src="{% static 'login.png' %}" alt="ログイン"></a>
            </div>
            <div style="background-color: darkkhaki; text-align:center; margin: 20px 10px;">
                <h5>＜ユーザー登録＞</h5>
                <a href="{% url 'register:user_create' %}"><img src="{% static 'register.png' %}" alt="ユーザー登録"></a>
            </div>
            <div style="background-color: rgb(240, 128, 180); text-align:center; margin: 20px 10px;">
              <h5>＜マイページ＞</h5>
              <a href="{% url 'register:user_detail' user.pk %}"><img src="{% static 'register.png' %}" alt="マイページ"></a>
          </div>
        </div>
        <!-- / 右側 -->
    </div>
</div>
{% endblock content %}

