{% extends "matchapp/base.html" %}
{% block content %}
<table class="table">
    <tbody>
        <tr>
            <th>ユーザ名</th>
            <td>{{ user.user_name }}</td>
        </tr>
        <tr>
            <th>性別</th>
            <td>{{ user.get_user_sex_display }}</td>
        </tr>
        <tr>
            <th>年齢</th>
            <td>{{ user.get_user_age_display }}</td>
        </tr>
        <tr>
            <th>レベル(NTRP)</th>
            <td>{{ user.get_user_level_display }}</td>
        </tr>
        <tr>
            <th>自己紹介</th>
            <td>{{ user.user_introduction }}</td>
        </tr>
        <tr>
            <th>登録Eメールアドレス</th>
            <td>{{ user.email }}</td>
        </tr>
    </tbody>
</table>

<a href="{% url 'register:user_update' user.pk %}"  class="btn btn-info" role="button" aria-pressed="true">修正</a>

{% endblock %}