{% extends 'base.html' %}

{% block customcss %}
{% endblock customcss %}

{% block header %}
{% endblock header %}

{% block content %}
<div class="py-4">
    <div class="container">  
        <div class="row">
            <div class='col-md-6 offset-md-1'>
                <div class="alert alert-primary" role="alert">
                    募集一覧
                </div>
                {% for item in object_list %}
                <div class="alert alert-success  mx-5 my-3" role="alert">
                    <p>タイトル：{{item.title}}</p>
                    <p>日時：</p>
                    <p>場所：</p>
                    <p>レベル：</p>
                    <p>目的：</p>
                    <p>投稿者：</p>
                    <a href="{% url 'detail' item.pk %}" class="btn btn-primary btn" role="button" aria-pressed="true">詳細</a>
                </div>
                {% endfor %}
            </div>
            <div class="col-md-3 offset-md-1">
                <div style="background-color: cadetblue; text-align:center; margin: 20px 10px;">
                    <h5>＜ログイン＞</h5>
                    <a href="{% url 'login' %}"><img src="../media/login.png" alt="ログイン"></a>
                </div>
                <div style="background-color: darkkhaki; text-align:center; margin: 20px 10px;">
                    <h5>＜ユーザー登録＞</h5>
                    <a href="{% url 'signup' %}"><img src="../media/register.png" alt="ユーザー登録"></a>
                </div>
            </div>           
        </div>
    </div>  
</div>
{% endblock content %}